body {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
    color: #8699a3;
    overflow-x: hidden;
}

p,
span,
.prodTitle,
.prodDesc {
    user-select: none !important;
}

.scrollIndicator {
    position: fixed;
    bottom: 3rem;
    left: 0.79rem;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.scrollIndicator * {
    line-height: 0;
    padding: 0;
    margin: 0;
}

.scrollIndicator p {
    writing-mode: vertical-rl;
    transform: scale(-1);
    position: relative;
    left: -0.05rem;
}

.forum {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2.5fr 1.6fr;
    gap: 0.7em;
    width: 100%;
}

.forum div {
    font-size: 0.8rem;
}

.EnviarBtn {
    width: 3rem;
    height: 3rem;
    background-color: #d1d7ad;
    ;
    font-family: 'Material Symbols Outlined';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    transform: translateY(-.5rem);
    border-radius: 50%;
    pointer-events: all;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.EnviarBtn:hover {
    transform: translateY(-.5rem) scale(1.2);
}

.forumText {
    border-radius: 1rem;
    resize: none;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.ecoFriendlyBanner {
    height: 30vw;
    overflow: hidden;
    border-radius: 2rem;
    background-image: url('./imgs/eco.webp');
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.ProdPageBanner {
    height: 50vw;
    border-radius: 2rem;
    background-image: url('./imgs/guardanoposBanner.webp');
    background-position: center;
    background-size: cover;
}

.prodPageTilte p {
    font-size: 4.5rem;
    line-height: 1;
}

.prodPageTilte p .Gold {
    font-size: 9rem;

}
.scrollIndicator {
    cursor: pointer;
}

.navpadd {
    width: 90%;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
}



.nav-link,
.navbar-nav .nav-link.active {
    color: #8699a3;
}



.HeroWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.MainContainer {
    padding: 3em;
}

.Hero {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 45% 55%;

    margin-top: 2rem;

}

.Hero .BannerWrapper {
    display: flex;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.Hero .BannerWrapper .Banner {
    min-height: 78vh;
    height: 100%;
    width: 100%;
    background-image: url("./imgs/topVDineTables.jpg");
    border-radius: 1em;
    background-size: cover;
    background-position: 80% 100%;
    overflow: hidden;
    align-self: center;
    justify-self: center;
}

.Banner div {
    height: 100%;
}

.Hero .Hero-info {
    display: grid;
    grid-template-rows: 0.1fr 0.6fr 0.2fr;
    grid-column: 1 / span 2;
    width: 60%;
    grid-row: 1;
    z-index: 1;
    pointer-events: none;
    align-self: center;

}

.Hero .Hero-info .Hero-info-title {
    display: flex;
    align-items: end;
    transform: translateY(1rem);
}

.Hero-info-big-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.7rem;
    line-height: .7;

}
.form-check-input{
    cursor: pointer;
}
.form-check-input:checked,
.form-check-input:focus,
.form-check-input:active {
    border-color: #d1d7ad !important;

}

.form-check-input:focus {
    box-shadow: 0 0 5px 2px #d1d7ad !important;
}

.ecoFriendly {
    display: flex;
    align-items: start;
    font-size: 3.2rem;
    line-height: .7;
    align-items: center;

}

.ecoFriendly span {
    font-size: 7rem;
    font-family: "MonteCarlo", serif;
    font-weight: 400;
    font-style: normal;
    line-height: .7;
}

.Hero-info-big-title span {
    font-family: "MonteCarlo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    line-height: .7;
}

.Hero-info-big-title .Gold {
    display: flex;
    align-items: start;
    transform: translate(0.25em, -0.25em);
    color: #d1d7ad;
}

.HeroDescWrapper {
    grid-row: 2;
    grid-column: 1;
}

.Hero .HeroDescWrapper .HeroDesc p {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.2;
    width: 55%;
}

.Hero .Hero-info .infog3 p b {
    color: #4c5b63;
}

.highlightCor {
    color: #8699a3;

}

.prodContainer {
    margin-top: 3em;
    position: relative;
}

.prodIntro :first-child {
    margin-left: 1em;
}

.prodContainer .prodDetail {
    margin: 1em;
    margin-right: 3em;
    line-height: 1;
}

.prodContainer .prodTitle {
    font-size: 2em;
    transition: all 0.3s ease;
}

.prodContainer .prodDesc {
    font-size: .8rem;
    margin-top: 1em;
}

.prodContainer .prodImg {
    height: 35vw;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    transition: all 0.3s ease;
    font-style: bold;
    font-weight: 700;
}

.prodImg:hover .prodImg {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

.prodContainer .prodImg {
    position: relative;
}

.prodContainer .prodImg::after {
    content: 'arrow_right_alt';
    width: 3rem;
    height: 3rem;
    background-color: #d1d7ad;
    ;
    font-family: 'Material Symbols Outlined';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    transform: rotate(-40deg);
    position: absolute;
    right: 5%;
    top: -5%;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.prodImg:hover .prodImg::after {
    opacity: 1;
}

.prodImg:hover .prodTitle {
    color: #4c5b63;
}

.ProdColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;

}

.btnwrapper {
    padding: 4em;
}

.btn {
    border-radius: 1rem;
    border: 1px solid #8699a3;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 1rem;
    font-size: 0.8rem;
}

.btn:hover,
.btn:active {
    color: #8699a3;
    border: 1px solid #d1d7ad;
}

.productSec {
    margin-top: 7em;
}


.SliderImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SliderWrapper {
    margin-top: 5rem;
    line-height: 1;
    z-index: 1;
}

.Slider {
    border-radius: 1rem;
    overflow: hidden;
}

.SliderDetails {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-left: 2rem;
    margin-top: 2rem;
}

.SliderDesc {
    font-size: 3.3rem;
}

.footer {
    background-color: #8699a3;
    margin-top: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Text-Wrapper {
    margin-top: 3rem;
    font-size: 3rem;
    color: #d1d7ad;
    display: flex;
    flex-wrap: nowrap;

}

.footerImg {
    height: 7rem;
    margin-top: 5rem;
}

.TextloopContainer {
    display: flex;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    gap: 1rem;
}

.loopingText {
    animation: TextLoop 10s infinite linear;


}

.slick-arrow {
    color: black;
    z-index: 2;
}

@keyframes TextLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

@media (min-width: 1200px) {

    .productSec :nth-child(3),
    .productSec :nth-child(6),
    .productSec :nth-child(6) {
        margin-top: -5rem;
    }

    .prodContainer .btnwrapper {
        margin-top: 0;
    }

}

@media (max-width: 1200px) {
    .prodPageTilte p {
        font-size: 4rem;
        line-height: 0.7;
    }

    .prodPageTilte p .Gold {
        font-size: 7rem;
        line-height: 0.7;
    }

    .ecoFriendly p span {
        font-size: 6rem;
    }

    .prodContainer .prodImg {
        height: 50vw;
    }

    .productSec :nth-child(3),
    .productSec :nth-child(5),
    .productSec :nth-child(7) {
        margin-top: -8rem;
    }

    .Hero .BannerWrapper .Banner {
        min-height: 100%;
        max-height: 100vh;
    }

    .prodContainer .btnwrapper {
        margin-top: 0;
    }

    .prodContainer .prodDetail {
        padding: .9rem;
    }

    .prodContainer .prodDetail .prodTitle {
        font-size: 2.3rem;
    }

    .prodContainer .prodDetail .prodDesc {
        font-size: 1rem;
    }

    .prodContainer .prodImg {
        border-radius: 2rem;
    }
}


@media (max-width: 992px) {
    .Hero .Hero-info .Hero-info-title {
        transform: translateY(4rem);
    }

    .ecoFriendlyBanner {
        height: 40vw;
    }

    .navpadd {
        background-color: white;
    }

    .prodPageTilte p {
        font-size: 4.5rem;
        line-height: 1;
    }

    .prodPageTilte p .Gold {
        font-size: 9rem;
    }

    .scrollIndicator {
        display: flex;
    }

    .navWrapper {
        height: 8rem;
    }

    .productSec {
        margin-top: 0rem;
    }

    .Hero {
        grid-template-columns: 1fr;
        grid-template-rows: 35% 52% 10%;
    }

    .Hero .Hero-info {
        grid-column: 1;
        grid-row: 1;
        width: 95%;
    }

    .Hero .BannerWrapper {
        grid-column: 1;
        grid-row: 2;
    }

    .Hero .HeroDescWrapper {
        grid-column: 1;
        grid-row: 3;
    }

    .Hero .BannerWrapper .Banner {
        min-height: 100%;
        max-height: 100vh;
    }

    .Hero .HeroDescWrapper {
        margin-top: 1rem;
        padding: 1rem;

    }

    .Hero .HeroDescWrapper .HeroDesc p {
        width: 100%;
        font-size: 1rem;
    }

    .Hero-info-big-title {
        font-size: 8rem;
        line-height: 0.6;
    }

    .Hero-info-big-title span {
        font-size: 12rem;
        line-height: 1;
    }

    .prodIntro {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0.7rem;
    }

    .prodContainer {
        margin-top: 1em;
    }
}

@media (max-width: 762px) {
    .forum {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.6fr;
        gap: 0.7em;
        width: 100%;
    }

    .forum div {
        grid-column: span 2 !important;
    }

    .Hero .Hero-info .Hero-info-title {
        transform: translateY(2rem);
    }

    .prodContainer .prodDetail .prodTitle {
        font-size: 3.2rem;
    }

    .prodContainer .prodDetail .prodDesc {
        font-size: 1.3rem;
    }

    .ecoFriendlyBanner {
        height: 110vw;
    }


    .ProdPageBanner {
        height: 80vw;
    }


    .productSec .prodContainer {
        margin-top: 2rem;
    }

    .productSec {
        margin-top: 5rem;
    }

    .prodContainer {
        margin-top: 3em;
    }

    .prodContainer .prodDetail {
        padding: 0rem;
    }

    .prodContainer .prodImg {
        height: 110vw;
        border-radius: 3rem;
        margin-top: 3rem;
    }

    .Hero .BannerWrapper {
        align-items: center;
    }

    .Hero .BannerWrapper .Banner {
        align-items: center;
    }

    .scrollText {
        display: inline;
        writing-mode: sideways-lr;
        text-orientation: sideways-right;
        line-height: 0.98;

        margin-right: 1rem;
    }

    .Hero-info-big-title {
        font-size: 4rem;
        line-height: 1;
    }

    .Hero-info-big-title span {
        font-size: 7rem;
        line-height: 1;
    }
}

@media (max-width: 576px) {
    .forum {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1.6fr;
        gap: 0.7em;
        width: 100%;
    }

    .ecoFriendlyBanner {
        height: 130vw;
    }

    .SliderDetails {
        padding: 0;
        margin: 1rem;
        margin-top: 2rem;
    }

    .SliderTitle {
        font-size: 1.4rem;
    }

    .SliderDesc {
        font-size: 2.7rem;
    }

    .prodContainer .prodDetail .prodTitle {
        font-size: 2.2rem;
    }

    .prodContainer .prodDetail .prodDesc {
        font-size: 1.2rem;
    }

    .prodPageTilte p {
        font-size: 4rem;
        line-height: 1;
    }

    .prodPageTilte p .Gold {
        font-size: 7rem;
    }

    .ProdPageBanner {
        height: 120vw;
    }

    .ecoFriendly p span {
        font-size: 5.2rem;
    }

    .productSec .prodContainer {
        margin-top: 2rem;

    }

    .productSec {
        margin-top: 5rem;
    }

    .prodContainer {
        margin-top: 3em;
    }

    .prodContainer .prodDetail {
        padding: 0rem;
    }

    .prodContainer .prodImg {
        height: 110vw;
        border-radius: 3rem;
    }
}