.HeroWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Hero {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 45% 55%;
    margin-top: 2rem;
}

.Hero .BannerWrapper {
    display: flex;
    align-items: center;
    grid-column: 2;
    grid-row: 1 / span 2;
}

.Hero .BannerWrapper .Banner {
    min-height: 78vh;
    height: 100%;
    width: 100%;
    background-image: url("./imgs/topVDineTables.jpg");
    border-radius: 1em;
    background-size: cover;
    background-position: 80% 100%;
    overflow: hidden;
    align-self: center;
    justify-self: center;
}

.Hero .Hero-info {
    display: grid;
    grid-template-rows: 0.1fr 0.6fr 0.2fr;
    grid-column: 1 / span 2;
    width: 60%;
    grid-row: 1;
    z-index: 1;
    pointer-events: none;
    align-self: center;

}

.Hero .Hero-info .Hero-info-title {
    display: flex;
    align-items: end;
    transform: translateY(1rem);
}

.Hero-info-big-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.7rem;
    line-height: .7;

}

.Hero-info-big-title span {
    font-family: "MonteCarlo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    line-height: .7;
}

.Hero-info-big-title .Gold {
    display: flex;
    align-items: start;
    transform: translate(0.25em, -0.25em);
    color: #d1d7ad;
}

.HeroDescWrapper {
    grid-row: 2;
    grid-column: 1;
}

.Hero .HeroDescWrapper .HeroDesc p {
    font-family: "Bona Nova", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    line-height: 1.2;
    width: 55%;
}

.Hero .Hero-info .infog3 p b {
    color: #4c5b63;
}

@media (max-width: 1200px) {
    .Hero .BannerWrapper .Banner {
        min-height: 100%;
        max-height: 100vh;
    }
}

@media (max-width: 992px) {
    .Hero .Hero-info .Hero-info-title {
        transform: translateY(4rem);
    }

    .Hero {
        grid-template-columns: 1fr;
        grid-template-rows: 35% 52% 10%;
    }

    .Hero .Hero-info {
        grid-column: 1;
        grid-row: 1;
        width: 95%;
    }

    .Hero .BannerWrapper {
        grid-column: 1;
        grid-row: 2;
    }

    .Hero .HeroDescWrapper {
        grid-column: 1;
        grid-row: 3;
    }

    .Hero .BannerWrapper .Banner {
        min-height: 100%;
        max-height: 100vh;
    }

    .Hero .HeroDescWrapper {
        margin-top: 1rem;
        padding: 1rem;

    }

    .Hero .HeroDescWrapper .HeroDesc p {
        width: 100%;
        font-size: 1rem;
    }

    .Hero-info-big-title {
        font-size: 8rem;
        line-height: 0.6;
    }

    .Hero-info-big-title span {
        font-size: 12rem;
        line-height: 1;
    }
}

@media (max-width: 762px) {
    .Hero .Hero-info .Hero-info-title {
        transform: translateY(2rem);
    }
    .Hero .BannerWrapper {
        align-items: center;
    }

    .Hero .BannerWrapper .Banner {
        align-items: center;
    }

    .Hero-info-big-title {
        font-size: 4rem;
        line-height: 1;
    }

    .Hero-info-big-title span {
        font-size: 7rem;
        line-height: 1;
    }
}